[submodule "themes/antora-default-ui-hugo-theme"]
	path = themes/antora-default-ui-hugo-theme
	url = https://github.com/tran62/antora-default-ui-hugo-theme
[submodule "themes/hugo-theme-arch-terminal"]
	path = themes/hugo-theme-arch-terminal
	url = https://github.com/foo-dogsquared/hugo-theme-arch-terminal.git
[submodule "themes/hugo-mod-simple-icons"]
	path = themes/hugo-mod-simple-icons
	url = https://github.com/foo-dogsquared/hugo-mod-simple-icons.git
